*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}
.container{
    display: block;
    margin: 0 auto;
    width: 90%;
}
.header_master{
    width: 100%;
    height: 100vh;
    background: linear-gradient(40deg,#0009,#0009),url('../imagem/pexels-max-andrey-2669601.jpg');
    background-size: cover;
    background-position:center;
}
.content_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}
.lister_ul_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
}
.anchor_navbar{
    color: white;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
}
.icon_navbar{
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-color: #ccc;
    border:4px solid #ddd ;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.icon_navbar:hover{
    background:black;
    border:4px solid #fff ;
}
.menu{
    font-size: 20pt;
    color: white;
}
/***************************/
/*************/
.first_section{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80vh;
}
.content_first_section{
    height: 60%;
}
.heading_first_section{
    font-size: 100px;
    color: white;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.paragraph_first_section{
    color: white;
    font-size: 14pt;
    text-align: left;
    margin: 30px 0;
}
.anchor_first_section{
    display: inline-block; 
    text-align: center;   
    width:300px;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
    font-size: 14pt;
    color: black;
    letter-spacing: 5px;
}
.card_first_section_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.card1{
    display: flex;
    flex-direction: column;
   
    width: 44%;
    margin-bottom: 10px;
    height: 30vh;
    border-radius: 5px;
}

.one{
    background: url('../imagem/8b57fd1f4fd043eb5cd642ee94fb540e.jpg');
    background-size: cover;
    background-position: center;
}
.two{
    
    background: url('../imagem/de98b274aabd44a82442581c009a0fa8.jpg');
    background-size: cover;
    background-position: center;
}
.three{
    
    background: url('../imagem/d931ae0db615dc45c6b3ca7b9763dac4.jpg');
    background-size: cover;
    background-position: center;
}
.four{
    
    background: url('../imagem/94d6e7091a239fd63a0b8b6eeadcda1e.jpg');
    background-size: cover;
    background-position: center;
}